.autocomplete-container {
  display: inline-block;
  width: 90%;

  input {
    font-family: 'Quicksand', sans-serif;
    font-size: $font-size * 1.17;
    font-weight: bold;
    margin: 1em 0;
    padding: 0;
    border: none;
    width: 90%;
    color: $dark-grey;
    outline: none;
  }

  i {
    display: inline-block;
    width: 50px;
    margin: 0 auto;
    color: $grey;
  }

  a > i {
    cursor: pointer;
  }
}
