// The accent color.
$red: #d45f68;

// Neutral colors for the main theme.
$light-grey: #eeeeee;
$grey: #a9a9a9;
$dark-grey: #444444;
$white: #fefefe;

// The base font size.
$font-size: 16px;

// The spacing between columns.
$column-gutter-width: 0;

// The number of columns in a row.
$num-columns: 12;

// Columns will stack on screens less than this wide.
$stack-width: 768px;

// The minimum width to be considered a tablet display.
$min-width-tablet: 768px;

// The minimum width to be considered a desktop display.
$min-width-desktop: 980px;
