body {
  font-family: 'Quicksand', sans-serif;
  color: $dark-grey;
  text-transform: lowercase;
  font-size: $font-size;
  margin: 0;
  padding-bottom: 150px;
}

img {
  max-width: 95%;
}

.hidden {visibility: hidden}

.bg-red {background-color: $red}
.bg-light-grey {background-color: $light-grey}
.bg-grey {background-color: $grey}
.bg-dark-grey {background-color: $dark-grey}

@for $i from 1 through 8 {
  .space-#{$i} { margin-bottom: 10px * $i; }
}

.animate-on-hover {
  transition: 0.3s;

  &:hover {
    opacity: 0.9;
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1);
  }
}

.btn {
  @extend .animate-on-hover;

  background-color: $grey;
  color: $white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 2px;
  display: inline-block;
  margin: 5px 5px 5px 0;

  &:hover {
    color: $white !important;
  }

  &.btn-primary {
    background-color: $red;
    color: $white;
  }
}

.btn-close-wrapper {
  position: relative;
}

.btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

#login {
  margin: 40px;
}
