.sidebar {
  margin: 20px;
  padding: 20px;
  position: relative;

  h1 {
    margin: 0;
  }

  .statistic {
    margin-right: 20px;
  }

  .btn-back {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
