@import 'constants';

.subheader {
  background-color: $dark-grey;

  .tab {
    transition: 0.3s;
    cursor: pointer;

    &:hover, &.selected {
      background-color: $red;
    }
  }

  i {
    display: inline-block;
    width: 10%;
    margin: 0 auto;
  }
}
