.subheader {
  border-top: 5px solid $light-grey;
  background-color: $light-grey;

  .tab {
    border-bottom: 5px solid $light-grey;
    transition: border 0.3s ease;
    cursor: pointer;
    color: $grey;

    &:hover, &.selected {
      border-bottom: 5px solid $grey;
    }
  }

  i {
    display: inline-block;
    width: 10%;
    margin: 0 auto;
  }
}
