.tag {
  @extend .animate-on-hover;

  display: inline-block;
  position: relative;
  background-color: $grey;
  color: $white;
  padding: 15px;
  margin: 40px 15px 0 20px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;

  &.subscribed {
    background-color: $red;
  }
}

#tags-wrapper {
  position: relative;

  #tag-details {
    padding: 40px;
    padding-top: 20px;
    position: fixed;
    right: 0;
    background-color: $light-grey;
    z-index: 5;

    .btn-close {
      top: 40px;
      right: 40px;
    }
  }
}

.sidebar {
  margin: 40px;

  h1 {
    margin: 0;
  }

  .statistic {
    margin-right: 20px;
  }

  .btn-back {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
